<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147422199-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-147422199-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Ashtanga yoga, center, Bareilly">
    <% if (typeof metaContent !== 'undefined') { %>
    <meta name="description" content="<%= metaContent %>">
    <% } else { %>
    <meta name="description" content="Ashtanga yoga, center, asana">
    <% } %>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/one.css" type = "text/css" rel = "stylesheet">
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script  type="text/javascript" src="/jquery-1.js"></script>


    <% if (typeof metaContent !== 'undefined') { %>
    <title><%= metaContent %></title>
    <% }else { %>
    <title>Ashtanga Yoga</title>
    <% } %>


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2674441986648803",
          enable_page_level_ads: true
     });
</script>

<script>
    function menu() {
        var menu = $('.menu')[0];
        if (menu.style.display !=='none') {
            menu.style.display = 'none';
        } else {
            menu.style.display = 'block';
        }
    }

    function toggleDisplay(className) {
        var obj = "." + className; 
        if ($(obj).css('display') =='none') {
            $(obj).css('display','block');
            window.scrollBy(0, 80);
        }
        else $(obj).css('display','none');

    }
</script>



</head>
<body >
    <script> AOS.init({
     duration: 1500,
     once: false
    }); </script>
    <div class="navbar">  
    <ul class= "hamburger" onclick="menu()">
       <li class="bar"></li>
       <li class= "bar"></li>
       <li class= "bar"></li>

    </ul>
        <ul class="nav">
            <a href="/"><li>  Home  </li> </a>
            <a href = "/ourcenter" title="Ashtanga Yoga Shala, Bareilly"><li>  Our Center  </li> </a>
            <a href = "/videos" ><li> Videos </li></a>
            <a href= "/images"><li>Images</li></a>
            <% if (!currentUser) { %>
            <a href = "/signup" ><li> Sign up </li></a>
            <a href = "/login" ><li> Login </li></a>
             <% } else { %>                
            <a href = "/logout" ><li> Logout </li></a>
            <a href= "/profiles/<%= currentUser.username %>"><li> '<%= currentUser.username %>' </li></a>
            <% } %>
            
        </ul> 
                       
        

    </div>                  
     
 <ul class="menu" type="none" style="display:none">
            <a href="/"><li>  Home  </li> </a>
            <a href = "/ourcenter" title="Ashtanga Yoga Shala, Bareilly"><li>  Our Center  </li> </a>
            <a href = "/videos" ><li> Videos </li></a>
            <a href= "/images"><li>Images</li></a>
            <% if (!currentUser) { %>
            <a href = "/signup" ><li> Sign up </li></a>
            <a href = "/login" ><li> Login </li></a>
             <% } else { %>
            <a href = "/logout" ><li> Logout </li></a>
            <a href= "/profiles/<%= currentUser.username %>"><li>'<%= currentUser.username %>' </li></a>
            <% } %>
    </ul>
<br>
<br>

<% include icons.ejs %>
<% if (error.length) { %>
<h1 style = "background-color: #ffc2c2; color: red; text-align: center; width: 90%; margin: auto; font-size: 1.0em; margin-top:42px"> <%= error %> </h1>
<% } %>

