<% include partials/header.ejs %>
<div class = "container" style = "color: white"> 

    <div class="margin-auto" data-aos="fade-left" style = "width: 100%; color:white">
        <div class="container center" style = "color: white">
            <div class="title">
                <h2>Articles</h2>
            </div>
            <% for (var i = 0; i < articles.length; i++){  %>
                 <% var title = articles[i].title.replace(/ /g, "-") %>
                <div style="border: 0.02rem solid #eee8e8;width:300px;height: 305px;border-radius:0.2rem;display:inline-block;margin:20px">
                        <a href="/articles/<%= articles[i]._id.toString()%>/<%= title.toLowerCase()  %>"><h3> <%= articles[i].title %> </h3>    
                          <% if (articles[i].image) { %>  
                         <div style = "background-image: url('<%= articles[i].image %>'); background-repeat: no-repeat;background-size: cover;background-position:center;height:200px;width:300px;"">
                         </div>
                         <% } %>           
                        </a>
                       
                        <p style="text-align: left;"><%- articles[i].description %> <a href="/articles/<%= articles[i]._id.toString() %>/<%= title.toLowerCase() %>" > Read more </a>
                        </p>
                </div>
            <% } %>
        </div>
         <% if ( currentUser && currentUser.username === 'admin') { %>
            <button class="button"> <a href = "/articles/new" style = "color: inherit">Contribute an article</a></button>
        <% } %>
    </div>


<br>
<br>

</div>

<% include partials/footer.ejs %>